body {

}

.container {
	width: 300px;
	margin: 0 auto;
	padding: 0 10px;
}

img {
	width: 100%;
	height: auto;
}



/* MAIN-HEADER */

.main-header {

}

.main-header__wrapper {

}


/* LOGO */

.logo {

}

.logo__image-wrapper {
	width: 140px;
}

.logo__image {

}


/* MAIN-NAV */

.main-nav {

}

.main-nav__list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.main-nav__list-item {

}

.main-nav__link {
	text-decoration: none;
}

.main-nav__phone {
	text-decoration: none;
}

.main-nav__burger {

}
