@color-black: #000000;
@color-white: #FFFFFF;
@color-yellow: #FCDA00;
@color-grey: #D2D2D2;


body {

}

.container {
	width: 300px;
	margin: 0 auto;
	padding: 0 10px;
}

img {
	width: 100%;
	height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* MAIN-HEADER */

.main-header {

}

.main-header__wrapper {

}


/* LOGO */

.logo {

}

.logo__image-wrapper {
	width: 140px;
}

.logo__image {

}
