body {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  line-height: 20px;
  background-color: #ffffff;
  color: #000000;
}
.container {
  max-width: 300px;
  margin: 0 auto;
  padding: 0 10px;
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 30px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
.container--full {
  max-width: 100%;
  padding: 0;
}
@media (min-width: 1200px) {
  .container--full {
    max-width: 1200px;
    padding: 0 30px;
  }
}
img {
  width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: none;
  clip-path: inset(100%);
  overflow: hidden;
}
/* MAIN-HEADER */
/* LOGO */
.logo {
  width: 140px;
}
.logo__image {
  display: block;
}
@media (min-width: 768px) {
  .logo {
    position: relative;
    padding-right: 30px;
  }
  .logo:after {
    position: absolute;
    content: "";
    width: 5px;
    height: 100%;
    background-color: #333333;
    top: 0;
    right: 0;
  }
}
/* SITE-MENU */
.site-menu {
  opacity: 1;
  z-index: 99;
  background-color: #000000;
}
@media (max-width: 1200px) {
  .site-menu--fixed {
    position: fixed;
    width: 100%;
    top: 0;
    opacity: 0.7;
  }
}
.site-menu__wrapper {
  position: relative;
}
.site-menu__description {
  display: none;
}
.site-menu__numbers {
  position: relative;
}
.site-menu__number-button {
  position: relative;
  width: 100px;
  height: 45px;
  padding: 0;
  background-color: transparent;
  background-image: url(../img/icons/phone-dropdown.svg);
  background-repeat: no-repeat;
  background-position: 85% 50%;
  background-size: 30%;
  border: 3px solid #333333;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.5s;
}
.site-menu__number-button:focus {
  outline: none;
  box-shadow: 0px 0px 15px 0px #fcda00;
}
.site-menu__number-button:active {
  box-shadow: 0px 0px 15px 0px #fcda00;
}
.site-menu__number-button:before {
  position: absolute;
  content: "";
  top: 50%;
  left: 12%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-image: url(../img/icons/phone.svg);
  background-repeat: no-repeat;
}
.site-menu__number-button--active {
  background-image: url(../img/icons/phone-dropdown--active.svg);
  background-position: 85% 45%;
}
.site-menu__number-list {
  position: absolute;
  display: none;
  list-style: none;
  margin: 0;
  padding: 10px 15px;
  top: 50px;
  left: -100%;
  z-index: 20;
  background-color: #000000;
  color: #ffffff;
  border: 5px solid #fcda00;
  border-radius: 30px;
}
.site-menu__number-list--active {
  display: block;
}
.site-menu__number-name {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
}
.site-menu__number {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
  text-decoration: none;
  color: #fcda00;
}
.site-menu__numbers--nojs .site-menu__number-button {
  display: none;
}
.site-menu__numbers--nojs .site-menu__number-list {
  position: static;
  padding: 0;
  width: auto;
  top: 50px;
  left: -300%;
  z-index: 20;
  background-color: #000000;
  color: #ffffff;
  border: none;
}
.site-menu__numbers--nojs .site-menu__number-name {
  display: block;
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-size: 12px;
  line-height: 20px;
}
.site-menu__numbers--nojs .site-menu__number {
  display: block;
  text-decoration: none;
  color: #fcda00;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
}
.site-menu__burger-menu {
  position: relative;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  line-height: 0;
  background-color: #000000;
  border-bottom: 5px solid #fcda00;
}
.site-menu__burger {
  position: relative;
  width: 32px;
  height: 24px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.site-menu__burger:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  background-color: #ffffff;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  box-shadow: 0px 10px 0px 0px #ffffff, 0px -10px 0px 0px #ffffff;
}
.site-menu__burger:focus {
  outline: none;
  box-shadow: 0px 0px 5px 2px #fcda00;
}
.site-menu__burger:active {
  box-shadow: 0px 0px 5px 2px #fcda00;
}
.site-menu__navigation {
  display: none;
  z-index: 10;
}
.site-menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-menu__list-item {
  text-align: center;
  border-bottom: 3px solid #333333;
  background-color: #000000;
}
.site-menu__list-item:hover {
  background-color: #333333;
}
.site-menu__list-item--active {
  display: none;
}
.site-menu__link {
  display: block;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  padding: 20px 0;
  font-size: 20px;
  font-weight: bold;
}
.site-menu__navigation--nojs {
  position: static;
  display: block;
}
@media (max-width: 1200px) {
  .site-menu__navigation--opened {
    position: absolute;
    display: block;
    width: 80%;
    right: 0;
  }
  .site-menu__navigation--opened .site-menu__list-item:last-child {
    border-bottom: none;
    border-radius: 0px 0px 0px 30px;
  }
}
@media (min-width: 768px) {
  .site-menu__description {
    display: block;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 160px;
    font-size: 16px;
    line-height: 25px;
    font-weight: bold;
    color: #ffffff;
  }
  .site-menu__number-button {
    display: none;
  }
  .site-menu__number-list {
    position: static;
    display: block;
    padding: 0;
    border: none;
  }
  .site-menu__number-list-item {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  .site-menu__number-list-item:last-child {
    margin-bottom: 0;
  }
  .site-menu__number-name {
    margin-right: 15px;
    font-size: 16px;
    line-height: 20px;
  }
  .site-menu__number {
    font-size: 16px;
    line-height: 20px;
  }
  .site-menu__burger-menu {
    padding-right: 30px;
    padding-left: 30px;
  }
  .site-menu__burger {
    width: 40px;
  }
}
@media (min-width: 1200px) {
  .site-menu__logo {
    margin-right: 30px;
  }
  .site-menu__description {
    position: relative;
    margin-right: 30px;
    padding-right: 30px;
  }
  .site-menu__description:after {
    position: absolute;
    content: "";
    width: 5px;
    height: 100%;
    background-color: #333333;
    top: 0;
    right: 0;
  }
  .site-menu__numbers {
    margin: 0 auto;
  }
  .site-menu__number-list {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: row;
  }
  .site-menu__number-list-item {
    margin-bottom: 0;
  }
  .site-menu__number-list-item:first-child {
    margin-right: 30px;
  }
  .site-menu__number-name {
    font-size: 18px;
    line-height: 25px;
  }
  .site-menu__number {
    font-size: 20px;
    line-height: 25px;
  }
  .site-menu__navigation {
    display: block;
  }
  .site-menu__list {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    flex-shrink: 1;
  }
  .site-menu__list-item {
    box-sizing: border-box;
    border: none;
    flex-basis: 20%;
  }
  .site-menu__list-item:hover {
    background-color: #000000;
  }
  .site-menu__list-item:hover .site-menu__link {
    color: #fcda00;
  }
  .site-menu__list-item--active {
    position: relative;
    display: block;
  }
  .site-menu__list-item--active .site-menu__link {
    cursor: default;
    color: #333333;
  }
  .site-menu__list-item--active:hover .site-menu__link {
    color: #333333;
  }
  .site-menu__list-item--active:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 5px;
    background-color: #fcda00;
    bottom: -5px;
    left: 0;
    z-index: 99;
  }
  .site-menu__list-item:nth-child(2) {
    flex-basis: 25%;
  }
  .site-menu__link {
    box-sizing: border-box;
    display: block;
    padding: 20px 30px;
    transition: 0.5s;
    height: 100%;
  }
  .site-menu__burger-menu {
    justify-content: flex-start;
  }
  .site-menu__burger {
    display: none;
  }
}
/*  MAIN-SLIDER*/
.main-slider {
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.main-slider__pages {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  width: 400%;
  justify-content: space-between;
  transform: translateX(0%);
  transition: 0.5s;
}
.main-slider__slider-page {
  width: 100%;
  line-height: 0;
}
.main-slider__image-wrapper {
  width: 100%;
}
.main-slider__image {
  width: 100%;
  object-fit: cover;
}
.main-slider__btn {
  position: absolute;
  top: 0;
  height: 100%;
  width: 15%;
  border: none;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.05);
  background-image: url(../img/icons/slider-arrow.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 40%;
  transition: 0.5s;
  cursor: pointer;
}
.main-slider__btn:active,
.main-slider__btn:focus {
  outline: none;
}
.main-slider__btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
  background-image: url(../img/icons/slider-arrow--active.svg);
}
.main-slider__btn--prev {
  left: 0;
  transform: rotate(180deg);
}
.main-slider__btn--next {
  right: 0;
}
.main-slider--nojs .main-slider__pages {
  display: block;
  width: 100%;
}
.main-slider--nojs .main-slider__slider-page {
  display: block;
}
.main-slider--nojs .main-slider__navigation {
  display: none;
}
.main-slider__dots {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  line-height: 0;
  font-size: 0;
  width: 100px;
}
.main-slider__dot {
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  background-color: #333333;
}
.main-slider__dot:active,
.main-slider__dot:focus {
  outline: none;
}
.main-slider__dot--active {
  position: relative;
}
.main-slider__dot--active:after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-color: #fcda00;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (min-width: 1200px) {
  body .main-slider {
    margin-top: 0 !important;
  }
}
/*  SITE-SECTION */
.site-section {
  padding-top: 20px;
}
/*  SECTION-TITLE*/
.section-title {
  margin: 0;
  padding: 0;
  font-family: 'Russo One', sans-serif;
  font-size: 25px;
  line-height: 35px;
  text-transform: uppercase;
  text-align: center;
}
/*  SECTION-SERVICES*/
.section-services__section-title {
  margin-bottom: 20px;
}
.section-services__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
}
.section-services__list-item {
  margin-bottom: 20px;
}
.section-services__list-item:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .section-services__list {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .section-services__list-item {
    margin-bottom: 0;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    width: 48%;
  }
  .section-services__list-item:first-child,
  .section-services__list-item:nth-child(2) {
    margin-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .section-services__list {
    flex-wrap: nowrap;
  }
  .section-services__list-item {
    width: 23.5%;
  }
  .section-services__list-item:first-child,
  .section-services__list-item:nth-child(2) {
    margin-bottom: 0;
  }
}
/*  SERVICE-CARD*/
.service-card {
  position: relative;
  display: block;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 30px 40px;
  box-shadow: 0px 0px 15px -10px #000000;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s;
}
.service-card:hover {
  box-shadow: 0px 0px 30px -10px #fcda00;
  cursor: pointer;
}
.service-card:focus {
  outline: none;
  box-shadow: 0px 0px 30px -10px #fcda00;
}
.service-card__title {
  position: relative;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  padding-bottom: 110px;
  font-size: 24px;
}
.service-card__title:after {
  position: absolute;
  content: "";
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: 100%;
}
.service-card__title--move:after {
  background-image: url(../img/icons/icon-move.png);
}
.service-card__title--transportation:after {
  background-image: url(../img/icons/icon-transportation.png);
}
.service-card__title--loading:after {
  background-image: url(../img/icons/icon-loading.png);
}
.service-card__title--warehouse:after {
  background-image: url(../img/icons/icon-warehouse.png);
}
.service-card__list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
}
.service-card__list-item {
  position: relative;
  font-weight: bold;
  padding-left: 12px;
}
.service-card__list-item:before {
  position: absolute;
  content: "";
  width: 7px;
  height: 7px;
  background-color: #000000;
  border-radius: 50%;
  left: 0;
  top: 7px;
}
.service-card__description {
  margin: 0;
  padding: 0;
  font-weight: bold;
}
.service-card__price {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  font-weight: bold;
  background-color: #333333;
  color: #ffffff;
  width: 80%;
  border-radius: 50px;
}
.service-card__arrow {
  position: absolute;
  display: block;
  width: 80px;
  height: 80px;
  background-color: #fcda00;
  right: -40px;
  bottom: -40px;
  border-radius: 50%;
}
.service-card__arrow:after {
  position: absolute;
  content: "";
  width: 22px;
  height: 22px;
  top: 13px;
  left: 13px;
  background-image: url(../img/icons/right-arrow.svg);
}
@media (min-width: 768px) {
  .service-card {
    width: 100%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .service-card__arrow {
    width: 100px;
    height: 100px;
    right: -50px;
    bottom: -50px;
  }
  .service-card__arrow:after {
    width: 30px;
    height: 30px;
    top: 15px;
    left: 15px;
  }
}
@media (min-width: 1200px) {
  .service-card {
    padding: 20px 30px;
    border-radius: 0;
    box-shadow: 0px 0px 3px -1px #000000;
  }
  .service-card__price {
    border-radius: 0;
  }
  .service-card__arrow {
    width: 60px;
    height: 60px;
    right: -30px;
    bottom: -30px;
  }
  .service-card__arrow:after {
    width: 15px;
    height: 15px;
    top: 11px;
    left: 11px;
  }
}
/* SECTION-ABOUT-US */
.section-about-us__section-title {
  margin-bottom: 20px;
}
.section-about-us__content {
  padding: 20px 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px -10px #000000;
}
.section-about-us__description {
  margin: 0;
  padding: 0;
}
.section-about-us__description:first-child {
  margin-bottom: 10px;
}
@media (min-width: 1200px) {
  .section-about-us__wrapper {
    margin: 0 auto;
    max-width: 75%;
  }
  .section-about-us__content {
    padding: 40px;
    border-radius: 0;
    box-shadow: 0px 0px 3px -1px #000000;
  }
}
/*  INPUT*/
.input {
  box-sizing: border-box;
  width: 100%;
  font-size: 23px;
  line-height: 35px;
  font-weight: bold;
  padding: 5px 25px;
  border: 2px solid #fcda00;
  border-radius: 50px;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}
.input:focus {
  outline: none;
  box-shadow: 0px 0px 10px 0px #fcda00;
}
@media (min-width: 1200px) {
  .input {
    border-radius: 0;
  }
}
.input option {
  font-weight: bold;
}
.input--white {
  border: 2px solid #ffffff;
  cursor: text;
}
/*  SECTION-CALCULATOR*/
.section-calculator {
  overflow: hidden;
}
.section-calculator__wrapper {
  margin-bottom: 5px;
}
.section-calculator__title {
  margin-bottom: 20px;
}
@media (min-width: 1200px) {
  .section-calculator__wrapper {
    margin: 0 auto;
    margin-bottom: 5px;
    max-width: 75%;
  }
}
/*  CALCULATOR*/
.calculator__field {
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 20px;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  width: 100%;
  border: none;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px -10px #000000;
}
.calculator__field--main {
  padding-top: 10px;
}
.calculator__field--assemblers {
  margin-bottom: 0;
}
.calculator__field-legend {
  display: none;
}
.calculator-slider {
  position: relative;
}
.calculator-slider__slider-page {
  display: none;
}
.calculator-slider__slider-page--active {
  display: block;
}
.calculator-slider__image-wrapper {
  max-height: 130px;
  overflow: hidden;
  margin-bottom: 15px;
}
.calculator__car-property-table {
  width: 100%;
}
.calculator__car-property {
  font-weight: bold;
}
.calculator__car-value {
  text-align: right;
}
.calculator-slider__btn {
  position: absolute;
  width: 50px;
  height: 20px;
  top: 30%;
}
.calculator-slider__btn--prev {
  left: 0;
}
.calculator-slider__btn--next {
  right: 0;
}
.calculator__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (max-width: 1200px) {
  .calculator__list--hidden {
    display: none;
  }
}
.calculator__label {
  display: block;
  margin-top: 20px;
  font-size: 25px;
  line-height: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}
.calculator__close {
  position: relative;
  display: block;
  font-size: 25px;
  line-height: 40px;
  font-weight: bold;
  user-select: none;
}
.calculator__button-close {
  position: absolute;
  display: block;
  width: 40px;
  height: 40px;
  top: 0;
  right: -15px;
  border-radius: 50%;
  background-color: #fcda00;
  cursor: pointer;
}
.calculator__button-close:before,
.calculator__button-close:after {
  position: absolute;
  content: "";
  background-color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.calculator__button-close:before {
  width: 5px;
  height: 20px;
}
.calculator__button-close:after {
  width: 20px;
  height: 5px;
}
.calculator__checkbox:checked + .calculator__button-close {
  background-color: red;
}
.calculator__checkbox:checked + .calculator__button-close:before,
.calculator__checkbox:checked + .calculator__button-close:after {
  transform: translate(-50%, -50%) rotate(135deg);
}
.calculator__checkbox:checked + .calculator__button-close:before {
  height: 27px;
}
.calculator__checkbox:checked + .calculator__button-close:after {
  width: 27px;
}
@media (min-width: 768px) {
  .calculator__wrapper {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .calculator__field {
    width: 48%;
    margin-bottom: 30px;
  }
  .calculator__field--cars {
    order: 2;
    height: 280px;
  }
  .calculator__field--main {
    order: 1;
    height: 280px;
  }
  .calculator__field--loaders {
    order: 3;
    margin-bottom: 0;
    align-self: flex-start;
  }
  .calculator__field--assemblers {
    order: 4;
    margin-bottom: 0;
    align-self: flex-start;
  }
}
@media (min-width: 1200px) {
  .calculator__field {
    border-radius: 0;
    box-shadow: 0px 0px 3px -1px #000000;
  }
  .calculator__close {
    text-align: center;
    font-size: 26px;
    text-transform: uppercase;
  }
  .calculator__close span {
    display: none;
  }
  .calculator__button-close {
    display: none;
  }
}
/*  SECTION-ECHO*/
.section-echo__section-title {
  margin-bottom: 20px;
}
@media (min-width: 1200px) {
  .section-echo__wrapper {
    margin: 0 auto;
    max-width: 75%;
  }
}
/*  BUTTON*/
.button {
  display: block;
  box-sizing: border-box;
  padding: 15px 30px;
  border: none;
  font-size: 18px;
  line-height: 25px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 30px;
  background-color: #fcda00;
  cursor: pointer;
}
.button:focus {
  outline: none;
  box-shadow: 0px 0px 10px 0px #fcda00;
}
@media (min-width: 1200px) {
  .button {
    border-radius: 0;
  }
}
/*  ECHO-FORM*/
.echo-form__wrapper {
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
}
.echo-form__field {
  margin: 0;
  padding: 0;
  border: none;
}
.echo-form__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.echo-form__label {
  display: block;
  margin-bottom: 20px;
  color: #ffffff;
  font-weight: bold;
  font-size: 25px;
  line-height: 35px;
}
.echo-form__input {
  margin-bottom: 20px;
}
.echo-form__message {
  box-sizing: border-box;
  margin-bottom: 30px;
  padding: 25px;
  width: 100%;
  border: none;
  border-radius: 20px;
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
  resize: none;
}
.echo-form__message:focus {
  outline: none;
  box-shadow: 0px 0px 10px 0px #fcda00;
}
.echo-form__button {
  margin: 0 auto;
}
@media (min-width: 768px) {
  .echo-form__list {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
  }
  .echo-form__list-item {
    width: 48%;
  }
  .echo-form__button {
    max-width: 80%;
  }
}
@media (min-width: 1200px) {
  .echo-form__wrapper {
    border-radius: 0;
  }
  .echo-form__message {
    border-radius: 0;
  }
  .echo-form__button {
    max-width: 30%;
  }
}
/* MAIN-FOOTER */
.main-footer {
  color: #ffffff;
  margin-top: 20px;
}
.main-footer__wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  background-color: #000000;
}
.main-footer__phone {
  display: block;
  margin-bottom: 20px;
  color: #fcda00;
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
  line-height: 40px;
}
.main-footer__description {
  margin: 0;
  padding: 0;
  font-size: 22px;
  line-height: 25px;
}
.main-footer__address {
  padding-top: 20px;
}
.main-footer__title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-weight: bold;
  font-size: 30px;
  line-height: 40px;
}
.main-footer__title:first-child {
  margin-bottom: 0;
}
.main-footer__office-address {
  margin: 0;
  padding: 0;
}
.main-footer__map {
  margin: 0 auto;
  width: 100%;
  height: 300px;
}
.main-footer__about-wrapper {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #000000;
}
.main-footer__email {
  display: block;
  margin-bottom: 10px;
  color: #fcda00;
  font-weight: bold;
  text-decoration: underline;
  font-size: 20px;
  line-height: 25px;
}
.main-footer__copyright {
  display: block;
}
@media (min-width: 768px) {
  .main-footer__phone {
    width: 50%;
    margin: 0 auto;
  }
  .main-footer__map {
    height: 500px;
  }
  .main-footer__email {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
  }
}
